@charset "utf-8";

html,
body {
	margin: 0px;
	padding: 0px;
}

#container {
	position: relative;
	width: 1100px;
	margin: 0 auto;
}

/*版面居中*/
/*banner*/
#banner {
	background: url('../img/banner5.gif') repeat-x;
}

/*banner背景图片设置*/
#banner con {
	display: block;
}

/*鼠标移到照片产生放大效果*/
#banner .intro:hover {
	box-shadow: 0px 0px 10px #333;
	transition: all 400ms;
	transform: scale(1.05);
}

/*设置banner的背景以及标题的文字效果*/
/*菜单栏*/
#link {
	font-weight: bold;
	/*字体加粗*/
	cursor: hand;
	/*鼠标变为手型*/
	padding: 0px;
	position: relative;
	margin-top: -20px;
	clear: left;
	/*使导航菜单向左浮动*/
	z-index: 20;
	/*位于最上面*/
}

#link ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 1100px;
}

/*设置列表样式*/
#link ul li {
	float: left;
	text-align: center;
	vertical-align: bottom;
	display: block;
	width: 263px;
	height: 30px;
	margin-top: 13px;
	margin-right: 5px;
	margin-bottom: 8px;
	padding-top: 5px;
	border-radius: 20px;
	border: 3px dashed rgba(51, 102, 204, 0.8);
	background-color: #FFE5B5;
}

/*设置菜单的字体、背景、样式等*/
#link ul li a {
	font-size: 25px;
	font-family: 华文隶书, 楷体;
	text-decoration: none;
	color: #5599Ff;
}

/*改变链接字体的样式*/
#link ul li:hover {
	background-color:#FFE5B5;
}

#link ul li.radius:hover {
	border-radius: 20px;
}

#link ul li ul li {
	border: 3px dashed rgba(51, 102, 204, 0.8);
	border-top: 0px;
	background: #FFE5B5;
	border-radius: 20px;
	float: none
}

#link ul li ul {
	display: none;
	padding: 0;
	position: absolute;
}

/*鼠标上移时显子菜单*/
#link ul li:hover ul {
	display: block;
}

#link ul li ul li:hover {
	background: #CDEEEA;
	border-radius: 20px;
}
/*当鼠标移上菜单时背景发生变化*/

/*content*/
#content {
	border-radius: 30px;
	margin-bottom: 20px;
	float: left;
	width: 1100px;
	background: url('../img/background5.jpg');
	margin-top: 20px;
}


/*设置内容的边框样式、位置以及背景颜色等*/
figure {
	box-shadow: 0px 0px 10px #333;
	border-radius: 20px;
	background-color: rgba(102, 102, 102, 0.2);
	border: 4px inset;
	padding-bottom: 20px;
}

/*左边时间轴板块，部分代码参考网上*/
#leftbar {float: left;
	display: inline-block;
	margin-top: 30px;
	margin-left: 30px;
	width: 380px;
	height: 1765px;
	border: 4px inset;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #333;
	background-color: rgba(204, 204, 204, 0.40);
}
 #leftbar .timeline-small {
            max-width: 350px;
            max-height: 2000px;
            overflow: hidden;
            margin: 30px auto 0;
            box-shadow: 0 0 40px #a0a0a0;
            font-family: 'Open Sans', sans-serif;
        }
#leftbar .timeline-small-body ul {
            padding: 1em 0 0 2em;
            margin: 0;
            list-style: none;
            position: relative;
        }
 #leftbar .timeline-small-body ul::before {
            content: ' ';
            height: 100%;
            width: 5px;
            background-color: #FFA666;
            position: absolute;
            top: 0;
            left: 2.4em;
            z-index: -1;
        }
#leftbar .timeline-small-body li div {
            display: inline-block;
            margin: 1em 0;
            vertical-align: top;
        }
#leftbar .timeline-small-body .bullet {
            width: 1rem;
            height: 1rem;
            box-sizing: border-box;
            border-radius: 50%;
            background: #fff;
            z-index: 1;
            margin-right: 1rem;
            margin-top: 7%;
        }
#leftbar .timeline-small-body .bullet.pink {
            background-color: hotpink;
            border: 3px solid #F93B69;
        }
#leftbar .timeline-small-body .bullet.green {
            background-color: lightseagreen;
            border: 3px solid #B0E8E2;
        }
#leftbar .timeline-small-body .bullet.blue {
            background-color: #5599FF;
            border: 3px solid #1C77FF;
        }
#leftbar .timeline-small-body .bullet.yellow {
            background-color: #FFE587;
            border: 3px solid #FFCA6B;
        }
#leftbar .timeline-small-body .bullet.gray {
            background-color: #878787;
	border: 3px solid #939393;}
#leftbar .timeline-small-body .date {
            width: 23%;
            font-size: 0.75em;
            padding-top: 0.40rem;
            padding-right: 2rem;
        }
#leftbar .timeline-small-body .desc {
            width: 50%;
        }
#leftbar  .timeline-small-body h3 {
	font-family: 隶书;
		color: #5599FF;
            font-size: 25px;
            font-weight: bold;
            margin: 0;
        }
#leftbar  .timeline-small-body h3:hover{
	color: rgba(249,189,119,1.00);
	transform: scale(1.05);
	transition: all 300ms;
}
/*鼠标上移出现效果*/
#leftbar:hover{
	transform: scale(1.02);
	transition: all 200ms;
}

.travel {
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #3888FF;
	border-collapse: collapse;
	width: 1078px;
	text-align: center;
	/*居中*/
	clear: both;
	/*取消浮动*/
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
	/*位置调整*/
}

.travel caption {font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	color: #1C77FF;
	text-shadow: 5px 5px 0 #c1daff;
	font-weight: bold;
	font-size: 36px;
	padding-bottom: 20px;
	background-color: rgba(255,185,136,0.51);
	border-radius: 20px;
	margin-top: 50px;
	margin-left: 30px;
	margin-bottom: 40px;
	box-shadow: 0px 0px 10px #333;
	/*标题的阴影设置*/
}

.travel td {
	border: 3px solid #FFB581;
	bacground-color: rgba(213, 188, 143);
}

/*表格样式设置*/
.travel ul {
	list-style-type: none;
	padding-left: 12px;
	padding-right: 12px;
}

/*表格中的列表样式设置*/
.travel td:hover {
	background-color: rgba(213, 188, 143, 0.80);
	transform: scale(1.05);
	transition: all 400ms;
	font-size: 1.2em;
}

/*当鼠标移到表格上时背景颜色发生改变以及放大*/
section {
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 楷体;
	font-size: 21px;
	font-weight: bold;
	letter-spacing: 1.5px;
	line-height: 28px;
	background:  rgba(195,187,187,0.40) ;
	border-radius: 30px;
	width: 600px;
	height: 800px;
	float: right;
	margin-top: 30px;
	margin-right: 10px;
	box-shadow: 0px 0px 10px #333;
}
 
section:hover{
	color: #0037a7;
}
section1 {
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 楷体;
	font-size: 21px;
	font-weight: bold;
	letter-spacing: 1.5px;
	line-height: 28px;
	background:  rgba(195,187,187,0.40) ;
	border-radius: 30px;
	width: 600px;
	height: 900px;
	float: right;
	margin-top: 30px;
	margin-right: 10px;
	box-shadow: 0px 0px 10px #333;
}
 
section1:hover{
	color: #B74C00;
	transform: scale(1.02);
	transition: all 200ms;
}
}
/*回忆录文字设置以及板块样式设置*/
.img img {
	border-radius: 10px/15px;
	display: block;
	margin-left: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 10px #333;
}

/*设置图片圆角*/
.img {
	border-radius: 20px;
	width: 360px;
	display: inline-block;
	margin-top: 30px;
	margin-left: 20px;
	padding-left: 40px;
	padding-top: 20px;
}

img:hover {
	transform: scale(1.1);
	border-radius: 0px;
	transition: all 400ms;
}

/*当鼠标移到照片上的时候照片放大*/
#content section:hover {
	transform: scale(1.02);
	transition: all 200ms;
}

/*鼠标移上时放大效果*/
#content .travel caption:hover {
	font-size: 3em;
	transition: all 200ms;
}

/*鼠标移上时字体放大*/
/*footer*/
#footer {
	clear: both;
	width: 1100px;
	height: 65px;
	background-color: rgba(69, 161, 243, 0.48);
	border-radius: 20px 20px 0px 0px;
	text-align: center;
}

/* CSS Document */
